/***STYLE***/
/***COMMON***/

body {
    font-family: 'Roboto', sans-serif;
}

/***HEADER***/

.my-header-top-bar img {
    width: 70px;
    height: 15px;
}

.my-lens img {
    width: 30px;
}

/***MAIN***/

#hero {
    height: 80vh;
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
    margin-top: 100px;
}

#hero img {
    margin-top: 235px;
}

.btn-danger {
    background-color: rgb(205, 61, 15);
}

.btn-danger:hover {
    background-color: rgb(161, 48, 11) !important;
}

#carousel img {
    border-radius: 10px;
}

#carousel .my-active:hover {
    border: 2px solid white;
    box-shadow: 0 0 0 0px white, 0 0 0 1.5px #0072CE;
}

.caro-item {
    transition: 0.5s;
    cursor: pointer;
}

.caro-item:hover {
    transform: translate(0, -5%);
}

#PS5-section .my-active:hover {
    border-radius: 10%;
    box-shadow: 0 0 0 2px #0072CE;
}

#PS5-section .my-active-2 {
    opacity: 70%;
    cursor: pointer;
    padding-bottom: 10px;
}

#PS5-section .my-active-2:hover {
    opacity: 100%;
}

#hero2 .hero2-background {
    height: 80vh;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center
}

#nuove-uscite {
    background-color: rgb(31, 31, 31);
}

#nuove-uscite img {
    width: 100%;
    border-radius: 15px;
}

#PS-Plus {
    background-color: rgb(190, 188, 187);
}

#PS-Now {
    background-color: rgb(22, 28, 59);
}

/***COLORS***/

.my-txt-grey {
    color: rgb(112, 112, 112);
}